img.penguin {
    -webkit-filter: sepia(50%);
    filter: sepia(50%);
    border-radius: 50%;
    border: 1px solid #000;
}
img.football {
   width: 200px;
   height: 80px;
   padding-top: 25px;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    text-align: center;
    margin: 0 auto;
    -webkit-filter: grayscale(100%);

img.tictakto {    
     width: 50vw;
     height: 50vh;
     overflow: hidden;
     resize: both;
     min-width: 150px;
     min-height: 60px
     display: grid;
     place-items: center;
     border-image: url(tic-tac-toe.png) 28 / 28px / 0 round;
     border-width: 28px;
     border-style: solid;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
    
img.dinosaur {
    -webkit-filter: hue-rotate(90deg) drop-shadow(10px 1px 5px #000000);
}
img.seagull{    
}
img.butterfly{    
}
img.theater{
}
