img.penguin {
    -webkit-filter: sepia(50%);
    filter: sepia(50%);
    border-radius: 50%;
    border: 1px solid #000;
}

img.football {
    margin: auto;
    display: block;
    -webkit-filter: grayscale(100%);
}

img.tictakto {
  width: 300px;
  height: 200px;
  border-width: 45px;
  border-style: solid;
  border-image: url(tic-tac-toe.png) ;
  border-image-slice: 30;
  border-image-repeat: round;
}

img.dinosaur {
    -webkit-filter: hue-rotate(90deg) drop-shadow(10px 1px 5px #000000);
}
img.seagull{
    background-image: linear-gradient(-45deg, white, #8c8ce1);
    height: 400px;
    -webkit-filter: drop-shadow(5px 10px 15px #000000);
}
img.butterfly{    
    filter: invert(100%) opacity(75%);
    border-radius: 100px 0px 100px 0px;
}

image.theater_stage.jpg {
    position: relative;
    z-index: 0;
}
image.theater_stage.jpg:before{
    content: '';
    background-image: url(theater_stage.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    filter: blur(3px);
    z-index: -1;
}
p#stage{
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    margin:10;
    padding:0;
    color: white;
    font-size: 50px;
}
