img.penguin {
    -webkit-filter: sepia(50%);
    filter: sepia(50%);
    border-radius: 50%;
    border: 1px solid #000;
}

img.football {
    margin: auto;
    display: block;
    -webkit-filter: grayscale(100%);
}

img.tictakto {
     border-image: url(tic-tac-toe.png) 250 / 125px / 10px round;
     border-style: solid;
     -webkit-filter: grayscale(100%);
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
    
img.dinosaur {
    -webkit-filter: hue-rotate(90deg) drop-shadow(10px 1px 5px #000000);
}
img.seagull{    
}
img.butterfly{    
}
img.theater{
}
