div.title {
    font-family: fantasy;
    font-size: 50px;
    padding: 10px;
    color: white;
    background-color: cadetblue;
}

p.fake {
    font-size: 10px;
}

video.video {
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
    margin: 5px;
}

.separate {
    width: 100%;
    height: 3px;
    background-color: cadetblue;
    margin: 10px;
}

p.none {
    font-size: 20px;
}

p.text {
    font-size: 15px;
    color: white;
}

div.source {
    background-color: cadetblue;
    padding: 10px;
    margin: auto;
}

@keyframes Changer {
    from {width: 80%}
    to {width: 100%;}
}

p.change {
    width: 80%;
    height: 40px;
    background-color: white;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-duration: 1.5s;
    animation-delay: 1s;
    text-align: center;
    animation-name: Changer;
}

p.form_title {
    font-size: 50px;
}
p.change:hover {
    background-color: cadetblue;
    animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

img.im {
    width: 30%;
    height: auto;
}

img.image {
    width: 50%;
    height: auto;
}

section.container {
    display: flex;
    align-items: center;
}

table, tr, td.table_top {
    border: 1px solid black;
    color: white;
    background-color: lightcoral;
}

table, tr, td.table_title {
    border: 1px solid black;
    color: white;
    background-color: cornflowerblue;
}

@media (max-width: 950px) {
    p.change {
        width: 100%;
        height: 30px;
        background-color: cadetblue;
        color: white;
        padding: 10px;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        animation-duration: 1.5s;
        text-align: center;
    }

    p.none {
        display: none;
    }
}

@media print {
    div.title {
       background-color: dimgray;
    }

    video.video {
        filter: grayscale(100%);
    }

    .separate {
        background-color: dimgray;
    }

    div.source {
        background-color: dimgray;
    }

    p.change {
        width: 60%;
        height: 30px;
        background-color: dimgray;
        color: white;
        padding: 10px;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    img.im {
        filter: grayscale(100%);
    }

    img.image {
        filter: grayscale(100%);
    }
}
